.app-section {
    display: none;

    @media only screen and (max-width: 1024px) {
        width: 100%;
        padding: 15px;
        padding-top: 25px;
        display: flex;
        flex-direction: column;

        img {
            width: 75px;
            height: 75px;
        }

        &-content {
            display: flex;
            align-items: center;
        }

        &-content p {
            font-weight: 550;
            font-size: 1.3em;
        }

        .app-button-download {
            outline: none;
            border: none;
            padding: 15px 25px;
            border-radius: 5px;
            cursor: pointer;
            margin-top: 20px;
        }

    }
}