footer{
    height: 55vh;
}
.informations, .privacy{
    padding-left: 20%;
    padding-right: 20%;
}

.informations{
    border-top: 1px solid #ecebeb;
    border-bottom: 1px solid #ecebeb;
    height: 35vh;
    display: flex;
}
.informations img{
    height: 150px;
    width: 250px;
}
.download-apps{
    display: flex;
}
.logos{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 35px;
}
.logos img{
    cursor: pointer;
}
.download-apps img{
    width: 120px;
    height: 70px;
     margin-left: 10px;
}
.info-list{
   display: flex;
}

.info-list-container{
    display: flex;
    align-items: center;
    margin-left: 30%;
}
.info-list{
    margin: 15px;
}
.info-list li{
    list-style-type: none;
    font-size: 1.4em;
   margin-bottom: 24px;
     &:hover{
        cursor: pointer;
        text-decoration: underline;
     }
}

.privacy{
    height: 20vh;
    margin-top: 30px;
}
.privacy i{
    font-size: 30px;
    margin-left: 20px;
    margin-right: 15px;
}
.privacy-links a{
    margin-right: 15px;
    cursor: pointer;
    font-size: 17px;
   &:hover{
    text-decoration: underline;
   }
   
}
.medias-container{
    display: flex;
}
.medias i{
    cursor: pointer;
}
.privacy-info{
    margin-top: 35px;
    font-size: 25px;
    display: flex;
}
.privacy-info a:hover{
    cursor: pointer;
    text-decoration: underline;
}