nav{
    width: 100%;
    background-color: transparent;
    height: 7vh;
    display: flex;
    justify-content: space-between;
    position: fixed;
    align-items: center;
    transition: background-color 0.2s ease-in-out;
    z-index: 5;
    background-color: transparent;
}
.btn-menu{
    background-color: transparent;
    border-radius: 50%;
    border: none;
    margin-right: 25px;
    cursor: pointer;
    font-size: 25px;
    margin-left:25px ;
    &:hover{
    box-shadow: -1px 5px 47px 0px rgba(0,0,0,0.75);
    }
}
.span-menu{
    margin-left: 25px;
}
.span-register{
    margin-right: 25px;
    
}
.span-menu, .span-register {
    display: flex;
    align-items: center;
    height: 100%;
}
.span-menu a, .span-register a{
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: 26px;
}
.btn-Login, .btn-register,.btn-location {
    height: auto;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 25px;
    border: none;
    font-size: 20px;
    margin:  0 25px;
}
.btn-Login{
    color: black;
    background-color: white ;
    &:hover{
        background-color: rgb(235, 227, 227);
    }
}
.btn-register, .btn-location{
    color: white;
    background-color: black;
    &:hover{
        background-color: rgb(65, 63, 63);
    }
}
.btn-location{
    display: none;
    transition: display 0.3s ease-in-out 1s;
}

@media only screen and (max-width: 768px) {
    nav{
        height: 9vh;
        padding: 0 10px;
        position: absolute;
        background-color: transparent !important;
    }
    
    .span-menu{
        margin-left: 10px;
    }
    
    
    .span-register{
        margin-right: 10px;
        
    }
    
    .span-menu a{
        font-size: 20px;
    }
    
    .span-register a{
        font-size: 1.2em;
    }
    
    .btn-Login, .btn-register, .btn-location {
        font-size: 16px;
        padding: 8px 14px;
        margin: 0 8px;
    }
    .btn-location{
        display: none !important;
    }
    
    .btn-menu{
        margin-left: 10px;
        margin-right: 15px;
    }
}

@media only screen and (max-width: 480px) {
    nav{
        height: 10vh;
    }
    
    .span-menu a{
        font-size: 18px;
    }
    
  .span-register a{
        font-size: 1.2em;
    }
    
    .btn-Login{
        font-size: 14px;
        padding: 6px 12px;
        margin: 0 5px;
    }
    
    .btn-menu{
        font-size: 20px;
        margin-left: 5px;
        margin-right: 10px;
    }
    .span-register {
        flex-direction: column-reverse;
    }
    .btn-location{
        font-size: 14px;
        padding: 6px 10px;
    }
}
