nav {
    width: 100%;
    background-color: transparent;
    height: 7vh;
    display: flex;
    justify-content: space-between;
    position: fixed;
    align-items: center;
    transition: background-color 0.2s ease-in-out;
    z-index: 5;
    background-color: transparent;

    @media only screen and (max-width: 1024px) {
        height: 9vh;
        padding: 0 10px;
        position: absolute;
        background-color: transparent !important;
    }

    @media only screen and (max-width: 768px) {
        height: 9vh;
        padding: 0 10px;
        position: absolute;
        background-color: transparent !important;
    }

    @media only screen and (max-width: 480px) {
        height: 10vh;
    }

    .span-menu {
        margin-left: 25px;

        @media only screen and (max-width: 768px) {
            margin-left: 10px;
        }

        .btn-menu {
            background-color: transparent;
            border-radius: 50%;
            border: none;
            margin-right: 25px;
            cursor: pointer;
            font-size: 25px;
            margin-left: 25px;

            @media only screen and (max-width: 768px) {
                margin-left: 10px;
                margin-right: 15px;
            }

            @media only screen and (max-width: 480px) {
                font-size: 20px;
                margin-left: 5px;
                margin-right: 10px;
            }

            &:hover {
                box-shadow: -1px 5px 47px 0px rgba(0, 0, 0, 0.75);
            }
        }

        .btn-location {
            display: none;
            transition: display 0.3s ease-in-out 1s;

            @media only screen and (max-width: 480px) {
                font-size: 14px;
                padding: 6px 10px;
            }
        }

        @media only screen and (max-width: 768px) {
            display: none !important;
        }

        a {
            @media only screen and (max-width: 768px) {
                font-size: 20px;
            }

            @media only screen and (max-width: 480px) {
                font-size: 18px;
            }

        }

    }

    .span-register {
        margin-right: 25px;

        @media only screen and (max-width: 768px) {
            margin-right: 10px;
        }

        @media only screen and (max-width: 480px) {
            flex-direction: column-reverse;
        }

        a {
            font-size: 1em;
            margin-right: 5px;

            @media only screen and (max-width: 768px) {
                font-size: 1.2em;
            }

            @media only screen and (max-width: 480px) {
                font-size: 1.2em;
            }
        }

        .register-buttons {
            @media only screen and (max-width: 1024px) {
                display: flex;
            }

            .btn-Login {
                color: black;
                background-color: white;

                @media only screen and (max-width: 480px) {
                    font-size: 14px;
                    padding: 6px 12px;
                    margin: 0 5px;
                }

                &:hover {
                    background-color: rgb(235, 227, 227);
                }
            }
        }
    }

    .span-menu,
    .span-register {
        display: flex;
        align-items: center;
        height: 100%;

        a {
            color: black;
            text-decoration: none;
            font-weight: 600;
            font-size: 26px;
        }


    }

    .btn-Login,
    .btn-register,
    .btn-location {
        height: auto;
        padding: 10px 20px;
        margin-left: 10px;
        cursor: pointer;
        border-radius: 25px;
        border: none;
        font-size: 20px;
        margin: 0 25px;

        @media only screen and (max-width: 768px) {
            font-size: 16px;
            padding: 8px 14px;
            margin: 0 8px;
        }
    }

    .btn-register,
    .btn-location {
        color: white;
        background-color: black;

        &:hover {
            background-color: rgb(65, 63, 63);
        }
    }

}

.location-input {
    width: 100%;
    height: 10vh;
    position: fixed;
    display: none;
    background-color: white;
    z-index: 3;

    .input-container-navbar {
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;

        &-content {
            background-color: rgb(241, 236, 231);
            width: 100%;
            margin: 0 35px;
            padding: 10px 25px;
            font-size: 1.3em;
            font-weight: 600;
            border-radius: 10px;

            input {
                border: none;
                outline: none;
                background-color: transparent;
            }

        }

    }
}