.sidebar{
    position: fixed;
    height: 100vh;
    width: 17%;
    z-index: 100;
    background-color: white;
    display: block;
    left: -500px;
    transition: left 0.3s ease-in-out;
}
.sidebar-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
}
.lower-content, .upper-content{
z-index: 100;
}
.lower-content{
    display: flex;
    flex-direction: column;
}
.lower-content button{
    padding: 10px;
    border-radius: 15px;
    border: none;
    background-color: rgb(228, 228, 228);
    &:hover{
        background-color: rgb(214, 213, 213);
    }
}

.lower-content img{
    width: 100px;
    height: 100px;
    float: left;
}
.lower-content p{
    font-size: 1.2em;
    font-weight: 500;
}
.lower-content-apps{
    display: flex;
}

.upper-content{
    display: flex;
    flex-direction: column;
}
.upper-content p, button{
    font-size: 1.5em;
    margin: 10px;
    cursor: pointer;
}
.upper-content button{

    border-radius: 10px;
    padding: 20px;
    font-weight: 500;
    font-size: 1.5em;
    cursor: pointer;

}

.sidebar-Login{
    background-color: black;
    color: white;
    &:hover{
        background-color: rgb(65, 63, 63);
    }
}
.sidebar-SignIn{
    background-color: white;
    color: black;
     
    &:hover{
        background-color: rgb(238, 233, 233);
    }
}
