.sidebar {
    position: fixed;
    height: 100vh;
    width: auto;
    z-index: 100;
    background-color: white;
    display: block;
    left: -500px;
    transition: left 0.3s ease-in-out;

    .sidebar-content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 15px;

        .lower-content,
        .upper-content {
            z-index: 100;
        }

        .lower-content {
            display: flex;
            flex-direction: column;

            button {
                padding: 10px;
                border-radius: 15px;
                border: none;
                background-color: rgb(228, 228, 228);
                margin: 10px;

                &:hover {
                    background-color: rgb(214, 213, 213);
                }
            }

            img {
                width: 100px;
                height: 100px;
                float: left;

                @media only screen and (max-width: 450px) {
                    width: 50px;
                    height: 50px;
                    float: left;
                }
            }

            p {
                font-size: 1.2em;
                font-weight: 500;

                @media only screen and (max-width: 768px) {
                    font-size: 1em;
                    font-weight: 500;
                }
            }

            &-apps {
                display: flex;
            }

        }

        .upper-content {
            display: flex;
            flex-direction: column;

            p,
            button {
                font-size: 1.5em;
                cursor: pointer;

                @media only screen and (max-width: 768px) {
                    font-size: 1em;
                    margin: 5px;
                }

                @media only screen and (max-width: 450px) {
                    font-size: 1em;
                    margin: 5px;
                }
            }

            p {
                margin: 10px;
            }

            button {
                border: none;
                border-radius: 10px;
                padding: 20px;
                font-weight: 500;
                font-size: 1.5em;
                cursor: pointer;
                margin: 5px;

                @media only screen and (max-width: 768px) {
                    border-radius: 10px;
                    padding: 10px;
                    font-weight: 500;
                    font-size: 1.5em;
                    cursor: pointer;

                }
            }

            .sidebar-Login {
                background-color: black;
                color: white;

                &:hover {
                    background-color: rgb(65, 63, 63);
                }
            }

            .sidebar-SignIn {
                background-color: white;
                color: black;

                &:hover {
                    background-color: rgb(238, 233, 233);
                }
            }

        }
    }

}